<h1>Edit Posts</h1>
<hr />



<%= form_for @blog_post do |f| %>

	<%= f.label :title %>
	<%= f.text_field :title, autofocus: true %>

	<%= f.label :author %>
	<%= f.text_field :author %>
	<br />

	<%= f.label :body %>
	<%= f.text_area :body %>
	<br />
	
	<%= f.submit %>
	<%= link_to 'Home Page', root_path %>

<% end %>
